<br><br><br><br>
<hr>
<footer class="footer" style=" overflow: hidden; width: 100%; position: absolute; bottom: 0; background-color: #009688;;padding:15px; color: #fff">

    <div class="container">
        <div class="row" style="color: #fff !important">

            <div class="col-md-4">
                <h5 class="title"><b>About Aduaar Bank</b></h5><hr>
                <a href="#'" style="color: #fff !important">Investment</a> &nbsp;
                <a href="#'" style="color: #fff !important">News</a> &nbsp;
            </div>
        
            <div class="col-md-4">
                <h5 class="title"><b>Content</b></h5><hr>
                <a href="#" style="color: #fff !important">Transactions </a>
                <a href="#'" style="color: #fff !important">Banking</a> &nbsp;
            </div>
            
            <div class="col-md-4">
                <h5 class="title"><b>Links</b></h5><hr>

                <a href="{% url 'home' %}" style="color: #fff !important">Home </a>
                <a href="{% url 'about' %}" style="color: #fff !important">About Us</a> &nbsp;


            </div>
      
        </div>
    </div><br><br>
   
    <div class="footer-copyright">
        <div class="container" >
            © 2018 Copyright: <a href="http://127.0.0.1:8000/" style="color: #fff !important"> www.aduaarbank.com</a>
        </div>
    </div>

</footer>
